APP_REPO=git@github.com:Vasily-Shandrovsky/ifaran-app.git
INFRA_REPO=git@github.com:Vasily-Shandrovsky/ifaran-infra.git
INFRA_REPO_PUSH_URL=git@github.com:Vasily-Shandrovsky/ifaran-infra.git
REGISTRY=127.0.0.1:5000
POLL_INTERVAL=60
KEEP_IMAGES=3
WEBHOOK_SECRET=change-me-to-a-random-string
STACK_NAME=ifaran-gitops
WEB_PORT=80
